/* var for colors */
:root {
   --black: #333333;
   --white: #ffffff;
   --grey: #BDBDBD;
   --bgGrey: #FBFBFB;
 }

 /* for all */
*{
   margin: 0;
   padding: 0;
   font-family: "Roboto", sans-serif;
}

/* navigations */
.nav{
   height: 80px;
   display: flex;
   padding: 20px 100px 10px 100px;
   justify-content: space-between;
   align-items: center;
}

.nav-img{
   height: 85px;
}

.nav-list{
   display: flex;
   list-style: none;
   margin-right: 20px;
}

.nav-list > li{
   margin-left: 50px;
   font-size: 18px;
   text-transform: uppercase;
}

.nav-list > li > a{
   text-decoration: none;
   color: var(--black);
}

.home-heading{
   padding: 0px 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-evenly;
}

.home-heading > h1{
   font-size: 60px;
   font-weight: 300;
   color: var(--grey);
}

.home-heading > h1 span{
   font-weight: 500;
   color: var(--black);
   letter-spacing: 2px;
}

.home-heading > img{
   width: 620px;
}

/* about of home page */
.about{
   display: flex;
   margin-top: 20px;
   padding: 10px 50px;
   background-color: var(--bgGrey);
}

/* home page > about > img */

.about-img{
   display: grid;
  grid-gap: 25px;
  grid-template-areas: 
  "imgOne imgTwo"
  "imgThree imgTwo";
  width: 650px;
}

.about-img > img{
   width: 290px;
}

.about-img > img:nth-child(2){
   grid-area: imgTwo;
   padding: 80px 10px;
}

/* home page > about > about us */

.about-text{
   padding: 20px 100px;
   margin: auto;
   }

.about-text > h3{
   font-size: 60px;
   color: var(--grey);
   font-weight: 400;
}

.about-text > p{
   font-size: 20px;
   padding-top: 10px;
}



/* upcomming event */
.event{
   margin-top: 30px;
   padding: 10px 50px;
}

.event > h2{
   font-size: 60px;
   font-weight: 300;
}

.event-box{
   display: flex;
   padding: 10px 0px;
   background-color: var(--bgGrey);
   margin-top: 10px;
   margin-bottom: 10px;
}

/* upcomming event > img */
.event-box-img > img{
   width: 250px;
}

/* upcomming event > event text */
.event-box-text{
   padding: 50px 20px;
   margin-left: 50px;
}

.event-box-text > h3{
   font-size: 40px;
   color: var(--grey);
   font-weight: 300;
}

.event-box-text > p{
   font-size: 16px;
   padding-top: 10px;
}

/* upcomming event > link */
.event-box-text > a{
   position: absolute;
   text-decoration: none;
   color: var(--black);
   font-size: 20px;
   background-color: var(--grey);
   padding: 10px;
   margin-top: 25px;
}

/* footer */
.footer{
   background-color: var(--black);
   color: var(--white);
}

.footer-top{
   display: flex;
   justify-content: space-around;
   padding: 45px 100px;
}

.footer-middle > h4, .footer-right > h4{
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 15px;
}

/* footer logo */
.footer-left{
   display: flex;
   gap: 20px;
}

.footer-left-nepsoc > img, .footer-left-logo > img{
   width: 180px;
}

.footer-left-nepsoc > img{
   border-radius: 100%;
}

.footer-left-logo > img{
   display: block;
   padding: 15px 20px;
}

/* footer contact */
.footer-contact{
   display: flex;
   margin-top: 30px;
   margin-bottom: 30px;
}

.footer-contact-img > img{
   width: 20px;
   margin-right: 10px;
}

.footer-contact-text > p{
   font-size: 15px;
}

.footer-mt{
   margin-top: 5px;
}

/* footer social media img*/

.hr{
   background-color: #525252;
   height: 1px;
   border: none;
}

.footer-right > a > img{
   width: 25px;
   color: wheat;
   margin-right: 5px;
   margin-top: 10px;
}


/* footer down */
.footer > p{
   margin-top: 20px;
   font-size: 15px;
   text-align: center;
   color: var(--grey);
   padding-bottom: 25px;
}



/* ---- Single Event Page ---- */
.event-single-page-content { grid-area: content; }
.event-single-page-sidebar { grid-area: sidebar; }

.event-single-page{
   display: grid;
   grid-template-areas:
     'content content content content sidebar sidebar';
   gap: 10px;
   padding: 20px;
}

/* Single page content */
.event-single-page-content{
   padding: 20px;
   margin: auto;
}

.event-single-page-content > h3{
   text-align: center;
   font-size: 60px;
   font-weight: 500;
   margin-bottom: 20px;
}

.event-single-page-content > img{
   width: 93% ;
   max-height: 454px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   object-fit: cover;
}

.event-single-page-content > p{
   margin-top: 20px;
   font-size: 20px;
   padding: 0px 40px;
}

/* Single page sidebar */
.event-single-page-sidebar{
   padding: 20px;
   margin-right: 30px;
}

.event-single-page-sidebar > h4{
   font-size: 30px;
   font-weight: 300;
   margin-bottom: 20px;
}

.event-single-page-sidebar{
   padding: 25px;
}

/* Single page sidebar events */
.sb-ue-events >h4{
   margin-bottom: 25px;
}

.sb-ue-events > a{
 color: var(--black);
 text-decoration: none;
}

.sb-ue-events{
   margin-bottom: 30px;
}

.sb-ue-events > a> img{
   width: 284px;
}

.sb-ue-events > a> h2{
   font-size: 30px;
   text-align: center;
   font-weight: 300;
   margin-top: 5px;
}