{% extends "base.html"%}

{% block title%}Events{% endblock title%}

{% block body%}

{% load static %}
<section>

   <!-- recent event -->
   <div class="event">
      <h2>Recent Events</h2>
      <!-- event box -->
      {% for y in rimage %}
      <div class="event-box">
         <div class="event-box-img">
            <img src="{{ y.image.url }}" alt="">
         </div>
         <div class="event-box-text">
            <h3>{{ y.heading }}</h3>
            <p class ="lead">{{ y.caption }}</p>
            <a href="{% url 'singlePageEvent' image_id=y.id %}">See More -></a>
         </div>
      </div>
      {% endfor %}
   </div>
</section>
{% endblock body%}