{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}

{% load static %}   
<div class="blog">
   {% for blog in featured_articles %}
   <div class="blog-card">
      <a href="{% url 'single-blog' blog.id %}">
         <img src="{{ blog.image.url }}" alt="{{ blog.heading }}" />

         <div class="card-text">
            <h1>{{ blog.heading }}</h1>
            <p>{{ blog.caption|striptags|truncatewords:20 }} <span>Read More...</span></p>
         </div>
      </a>
   </div>
   {% endfor %}
</div>

{% endblock body %}
