{% extends "base.html"%}

{% block title%}Home{% endblock title%}

{% block body%}

{% load static %}   
<div class="blog">
   <div class="blog-card">
    {% for blog in featured_articles %}
      <a href="{% url 'single-blog' blog.id %}">
            <img src="{{ blog.image.url }}" alt="{{ blog.heading }}" alt="" />

         <div class="card-text">
            
            <h1>{{ blog.heading }}</h1>
            <p>{{ blog.caption|slice:":300"|safe }} <span>Read More...</span></p>
         </div>

      </a>
      {% endfor %}
   </div>

</div>
{% endblock body %}