   {% extends "base.html"%}

   {% block title%}Home{% endblock title%}

   {% block body%}

   {% load static %}   
<div class="blog">
   <div class="blog-card">
      <a href="">
            <img src="{% static 'img/team.jpg' %}" alt="">

         <div class="card-text">
            
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nihil exercitationem nulla vero temporibus totam amet, porro numquam odio? Dolores iusto dicta maiores tempora architecto. <span>Read More...</span></p>
         </div>

      </a>
   </div>

   <div class="blog-card">
      <a href="">
            <img src="{% static 'img/about-team-potrait.jpg' %}" alt="">

         <div class="card-text">
            
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nihil exercitationem nulla vero temporibus totam amet, porro numquam odio? Dolores iusto dicta maiores tempora architecto. <span>Read More..</span></p>
         </div>

      </a>
   </div>

   <div class="blog-card">
      <a href="">
            <img src="{% static 'img/abc.jpg' %}" alt="">

         <div class="card-text">
            
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nihil exercitationem nulla vero temporibus totam amet, porro numquam odio? Dolores iusto dicta maiores tempora architecto. <span>Read More..</span></p>
         </div>

      </a>
   </div>

   <div class="blog-card">
      <a href="">
            <img src="{% static 'img/abc.jpg' %}" alt="">

         <div class="card-text">
            
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nihil exercitationem nulla vero temporibus totam amet, porro numquam odio? Dolores iusto dicta maiores tempora architecto. <span>Read More..</span></p>
         </div>

      </a>
   </div>

   <div class="blog-card">
      <a href="">
            <img src="{% static 'img/about-team-potrait.jpg' %}" alt="">

         <div class="card-text">
            
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nihil exercitationem nulla vero temporibus totam amet, porro numquam odio? Dolores iusto dicta maiores tempora architecto. <span>Read More..</span></p>
         </div>

      </a>
   </div>

   <div class="blog-card">
      <a href="">
            <img src="{% static 'img/abc.jpg' %}" alt="">

         <div class="card-text">
            
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nihil exercitationem nulla vero temporibus totam amet, porro numquam odio? Dolores iusto dicta maiores tempora architecto. <span>Read More..</span></p>
         </div>

      </a>
   </div>

   <div class="blog-card">
      <a href="">
            <img src="{% static 'img/abc.jpg' %}" alt="">

         <div class="card-text">
            
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nihil exercitationem nulla vero temporibus totam amet, porro numquam odio? Dolores iusto dicta maiores tempora architecto. <span>Read More..</span></p>
         </div>

      </a>
   </div>

</div>
   {% endblock body%}