{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block body %}
  {% load static %}
  <section class="developer">
    <h2>Meet the <span>Developer Team</span></h2>

    <div class="member-page-cards">
      <div class="member-card">
        <img src="{% static 'img/developer/shirish.jpg' %}" alt="" />
        <div class="member-details">
        <h3>Shrish Raj Shrestha</h3>
        <h4>Senior Back-end Developer</h4>
        <p>Bsc(hons) in Computer Science</p>
      </div>
        <div class="social-media-icon">
          <a href="https://www.instagram.com/shirishhhhh?igsh=MXM1c3Vjbnp5eWx0ag%3D%3D&utm_source=qr" target="_blank"><img src="{% static 'img/instagram.png' %}" alt="" /></a>
          <a href="https://www.linkedin.com/in/shirish-shrestha-333460214?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"><img src="{% static 'img/linkedin.png' %}" alt="" /></a>
          <a href="https://github.com/Shirish59" target="_blank"><img src="{% static 'img/github.png' %}" alt="" /></a>
        </div>
      </div>

      <div class="member-card">
        <img src="{% static 'img/developer/rusz.jpeg' %}" alt="" />
        <div class="member-details">
        <h3>Rusz Baidhya</h3>
        <h4>Project Leader/ Senior Developer</h4>
        <p>Bsc(hons) in Information Technology</p>
        </div>
        <div class="social-media-icon">
          <a href="https://www.instagram.com/rusz.morningstar?igsh=ZHpvZjMxdm9jZXMw&utm_source=qr" target="_blank"><img src="{% static 'img/instagram.png' %}" alt="" /></a>
          <a href="https://www.linkedin.com/in/rusz-baidhya-a3a682234/" target="_blank"><img src="{% static 'img/linkedin.png' %}" alt="" /></a>
          <a href="https://github.com/Rusz01" target="_blank"><img src="{% static 'img/github.png' %}" alt="" /></a>
        </div>
      </div>

      <div class="member-card">
        <img src="{% static 'img/developer/dinesh.jpg' %}" alt="" />
        <div class="member-details">
        <h3>Dinesh Tamang</h3>
        <h4>Back-end Developer/ Researcher</h4>
        <p>Bsc(hons) in Computer Science</p>
        </div>
        <div class="social-media-icon">
          <a href="https://www.instagram.com/tmgdinace/" target="_blank"><img src="{% static 'img/instagram.png' %}" alt="" /></a>
          <a href="http://www.linkedin.com/in/dinesh-tamang-153678268" target="_blank"><img src="{% static 'img/linkedin.png' %}" alt="" /></a>
          <a href="https://github.com/Dinesh-Lopchan" target="_blank"><img src="{% static 'img/github.png' %}" alt="" /></a>
        </div>
      </div>

      <div class="member-card">
        <img src="{% static 'img/developer/john.jpg' %}" alt="" />
        <div class="member-details">
        <h3>John Shrestha</h3>
        <h4>Back-end / Front-end Developer</h4>
        <p>Bsc(hons) in Information Technology Management for Business</p>
        </div>
        <div class="social-media-icon">
          <a href="https://www.instagram.com/mr_johnstha?igsh=MXE1YXJ4eHQ0MW9oeg%3D%3D&utm_source=" target="_blank"><img src="{% static 'img/instagram.png' %}" alt="" /></a>
          <a href="https://www.linkedin.com/in/john-shrestha-7a731a2b9/" target="_blank"><img src="{% static 'img/linkedin.png' %}" alt="" /></a>
          <a href="https://github.com/Mrjohn07" target="_blank"><img src="{% static 'img/github.png' %}" alt="" /></a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}