{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block body %}
  {% load static %}
  <section class="developer">
    <h2>Meet the <span>Developer Team</span></h2>

    <div class="member-page-cards">
      <div class="member-card">
        <img src="{% static 'img/founder.jpg' %}" alt="" />
        <h3>Rabin Basnet</h3>
        <h4>Founder</h4>
        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam consequatur minima odio cupiditate illo cumque quia tempore unde eligendi amet. Nobis necessitatibus suscipit nam tenetur!"</p>
        <div class="social-media-icon">
          <a href=""><img src="{% static 'img/instagram.png' %}" alt="" /></a>
          <a href=""><img src="{% static 'img/linkedin.png' %}" alt="" /></a>
          <a href=""><img src="{% static 'img/github.png' %}" alt="" /></a>
        </div>
      </div>
      <div class="member-card">
        <img src="{% static 'img/founder.jpg' %}" alt="" />
        <h3>Rabin Basnet</h3>
        <h4>Founder</h4>
        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam consequatur minima odio cupiditate illo cumque quia tempore unde eligendi amet. Nobis necessitatibus suscipit nam tenetur!"</p>
        <div class="social-media-icon">
          <a href=""><img src="{% static 'img/instagram.png' %}" alt="" /></a>
          <a href=""><img src="{% static 'img/linkedin.png' %}" alt="" /></a>
          <a href=""><img src="{% static 'img/github.png' %}" alt="" /></a>
        </div>
      </div>
      <div class="member-card">
        <img src="{% static 'img/founder.jpg' %}" alt="" />
        <h3>Rabin Basnet</h3>
        <h4>Founder</h4>
        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam consequatur minima odio cupiditate illo cumque quia tempore unde eligendi amet. Nobis necessitatibus suscipit nam tenetur!"</p>
        <div class="social-media-icon">
          <a href=""><img src="{% static 'img/instagram.png' %}" alt="" /></a>
          <a href=""><img src="{% static 'img/linkedin.png' %}" alt="" /></a>
          <a href=""><img src="{% static 'img/github.png' %}" alt="" /></a>
        </div>
      </div>
      <div class="member-card">
        <img src="{% static 'img/founder.jpg' %}" alt="" />
        <h3>Rabin Basnet</h3>
        <h4>Founder</h4>
        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam consequatur minima odio cupiditate illo cumque quia tempore unde eligendi amet. Nobis necessitatibus suscipit nam tenetur!"</p>
        <div class="social-media-icon">
          <a href=""><img src="{% static 'img/instagram.png' %}" alt="" /></a>
          <a href=""><img src="{% static 'img/linkedin.png' %}" alt="" /></a>
          <a href=""><img src="{% static 'img/github.png' %}" alt="" /></a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
