{% extends "base.html"%}
   
{% block title%}Events{% endblock title%}

{% block body%}

   <section>

      <!-- upcomming event -->
      <div class="event">
         <h2>Upcomming Events</h2>
         <!-- event box -->
         <div class="event-box">
            <div class="event-box-img">
               <img src="img/new year.jpg" alt="">
            </div>
            <div class="event-box-text">
               <h3>New Year!!</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla impedit asperiores odit laboriosam
                  iusto dicta tempora reprehenderit perferendis dolorum? Consequatur laudantium sit maxime quasi non,
                  optio, asperiores, qui officiis omnis cumque aliquam repellendus temporibus a nam incidunt. Dolor
                  similique tempora exercitationem error quia dicta voluptatibus dignissimos, autem omnis magnam quidem
                  beatae maxime soluta, labore voluptas reprehenderit aspernatur corrupti quos? Explicabo.</p>
               <a href="ruszbaihya.com">Book Now -></a>
            </div>
         </div>
      </div>

      <!-- recent event -->
      <div class="event">
         <h2>Recent Events</h2>
         <!-- event box -->
         <div class="event-box">
            <div class="event-box-img">
               <img src="img/momo.jpg" alt="">
            </div>
            <div class="event-box-text">
               <h3>M & M</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla impedit asperiores odit laboriosam
                  iusto dicta tempora reprehenderit perferendis dolorum? Consequatur laudantium sit maxime quasi non,
                  optio, asperiores, qui officiis omnis cumque aliquam repellendus temporibus a nam incidunt. Dolor
                  similique tempora exercitationem error quia dicta voluptatibus dignissimos, autem omnis magnam quidem
                  beatae maxime soluta, labore voluptas reprehenderit aspernatur corrupti quos? Explicabo.</p>
               <a href="newyear.html">See More -></a>
            </div>
         </div>

         <div class="event-box">
            <div class="event-box-img">
               <img src="img/meet.jpg" alt="">
            </div>
            <div class="event-box-text">
               <h3>Meet and Greet</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla impedit asperiores odit laboriosam
                  iusto dicta tempora reprehenderit perferendis dolorum? Consequatur laudantium sit maxime quasi non,
                  optio, asperiores, qui officiis omnis cumque aliquam repellendus temporibus a nam incidunt. Dolor
                  similique tempora exercitationem error quia dicta voluptatibus dignissimos, autem omnis magnam quidem
                  beatae maxime soluta, labore voluptas reprehenderit aspernatur corrupti quos? Explicabo.</p>
               <a href="ruszbaihya.com">See More -></a>
            </div>
         </div>
      </div>
   </section>
   {% endblock body%}