   {% extends "base.html"%}
   
   {% block body%}
   <!-- home body -->
   <section>
      <!-- top part -->
      <div class="home-heading">
         <h1>UWL<br> <span>Nepalese <br> Scoiety</span></h1>
         <img src="img/team-potrait.jpg" alt="Picture of UWL Nepalese Society Board Members">
      </div>

      <!-- about part -->
      <div class="about">
         <div class="about-img">
            <img src="img/team.jpg" alt="">
            <img src="img/about-team-potrait.jpg" alt="">
            <img src="img/abc.jpg" alt="">
         </div>
         <div class="about-text">
            <h3>About</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor aspernatur cupiditate dignissimos qui
               atque nesciunt repellendus explicabo quia sit fugiat quam, ducimus dolorem accusamus, rerum, commodi
               obcaecati veniam. At numquam architecto deserunt, molestiae ea dolore doloremque impedit saepe totam
               inventore porro quaerat reiciendis sed a maiores dicta explicabo provident animi necessitatibus possimus!
               Eum, provident quia ipsa ratione a eveniet repellendus nemo culpa maiores quidem quisquam voluptatem
               recusandae placeat harum commodi illum tempora, odio possimus laboriosam nam quos dolores unde facilis.
            </p>
         </div>
      </div>

      <!-- upcomming event -->
      <div class="event">
         <h2>Upcomming Events</h2>
         <!-- event box -->
         <div class="event-box">
            <div class="event-box-img">
               <img src="img/new year.jpg" alt="">
            </div>
            <div class="event-box-text">
               <h3>New Year!!</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla impedit asperiores odit laboriosam
                  iusto dicta tempora reprehenderit perferendis dolorum? Consequatur laudantium sit maxime quasi non,
                  optio, asperiores, qui officiis omnis cumque aliquam repellendus temporibus a nam incidunt. Dolor
                  similique tempora exercitationem error quia dicta voluptatibus dignissimos, autem omnis magnam quidem
                  beatae maxime soluta, labore voluptas reprehenderit aspernatur corrupti quos? Explicabo.</p>
               <a href="ruszbaihya.com">Book Now -></a>
            </div>
         </div>

         <div class="event-box">
            <div class="event-box-img">
               <img src="img/momo.jpg" alt="">
            </div>
            <div class="event-box-text">
               <h3>M & M</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla impedit asperiores odit laboriosam
                  iusto dicta tempora reprehenderit perferendis dolorum? Consequatur laudantium sit maxime quasi non,
                  optio, asperiores, qui officiis omnis cumque aliquam repellendus temporibus a nam incidunt. Dolor
                  similique tempora exercitationem error quia dicta voluptatibus dignissimos, autem omnis magnam quidem
                  beatae maxime soluta, labore voluptas reprehenderit aspernatur corrupti quos? Explicabo.</p>
               <a href="ruszbaihya.com">Book Now -></a>
            </div>
         </div>

         <div class="event-box">
            <div class="event-box-img">
               <img src="img/meet.jpg" alt="">
            </div>
            <div class="event-box-text">
               <h3>Meet and Greet</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla impedit asperiores odit laboriosam
                  iusto dicta tempora reprehenderit perferendis dolorum? Consequatur laudantium sit maxime quasi non,
                  optio, asperiores, qui officiis omnis cumque aliquam repellendus temporibus a nam incidunt. Dolor
                  similique tempora exercitationem error quia dicta voluptatibus dignissimos, autem omnis magnam quidem
                  beatae maxime soluta, labore voluptas reprehenderit aspernatur corrupti quos? Explicabo.</p>
               <a href="ruszbaihya.com">Book Now -></a>
            </div>
         </div>
      </div>
   </section>
   {% endblock body%}