{% extends "base.html" %}

{% block title %}Board Members{% endblock title %}

{% block body %}

{% load static %}
<!-- home body -->
<section>
    <div class="member-page">
        <h2>Who We Are? Meet Our Team!</h2>
        {% for y in year %}
        <h3>{{ y.member_year }}</h3>
        <div class="member-page-cards">
            
            {% for x in pics %}
            <div class="year-members">
                
                
                {% if x.date_year == y.member_year %}
                <div class="member-card">
                    <img src="{{ x.image.url }}" alt="">
                    <div class="member-details">
                        <h3>{{ x.name }}</h3>
                        <h4>{{ x.title }}</h4>
                        <p>{{ x.details_text }}</p>
                    </div>
                    <div class="social-media-icon">
                        <a href=""><img src="{{ x.social_link }}" alt=""></a>
                    </div>
                </div>
                {% endif %}
                
            </div>
            
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock body %}