{% extends "base.html"%}

{% block title%}Single Page{% endblock %}

{% block body%}

   {% load static %}  
<section class="member-single">

   <div class="member-single-left">

      <img src="{% static 'img/developer/rusz.jpeg' %}" alt="">


   </div>


   <div class="member-single-right">
      <h1>Rusz Baidhya</h1>
      <h4>Group Admin (2023/24)</h4>

      <div class="social-media-icon">
         <a href=""><img src="{% static 'img/instagram.png' %}" alt="Instagram" /></a>

         <a href=""><img src="{% static 'img/linkedin.png' %}" alt="LinkedIn" /></a>
         <hr>
      </div>
      

      
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus id dolorem culpa aliquam deserunt iure sequi molestiae, impedit beatae. Eaque, sed voluptates libero atque placeat laboriosam iste cumque ea eligendi repellendus rerum enim illum velit unde iusto, dolorum similique numquam culpa? Debitis quas eos veniam voluptatibus est repellendus, totam corrupti cumque quisquam optio, consequatur eligendi numquam deserunt, architecto molestiae cupiditate vitae delectus possimus adipisci obcaecati necessitatibus ipsum quidem odit doloribus? Iusto consectetur veniam nisi nesciunt modi odio quidem tempora, assumenda quaerat sit rem deserunt odit dolore officia vel possimus enim laudantium quibusdam veritatis molestias! Est repellat eius, eveniet illum nemo perferendis odio laboriosam autem. 
        </p>

   </div>
   
</section> 


{% endblock %}