{% extends 'base.html' %}

{% block title %}
{{ blog.heading }}
{% endblock %}

{% block body %}
  {% load static %}

  <div class="single-blog">
    <div class="single-blog-content">
      <div class="single-blog-content-top">
        <img src="{{ blog.image.url }}" alt="{{ blog.heading }}" />
        <h1>{{ blog.heading }}</h1>
        <p>{{ blog.caption|safe }}</p>
      </div>

      <div class="single-blog-content-bottom">
         <a href="{{ blog.authorname_hyperlink }}" target="_blank">
            <h1>{{ blog.authorname }}</h1>
         </a>
            <h1>{{ blog.Blog_Created_Date|date:"Y/m/d" }}</h1>
      </div>
    </div>

    <div class="single-blog-aside">
        <h1>Featured Articles</h1>
        {% for blog in featured_articles %}
        <a href="{% url 'single-blog' blog.id %}">
            <div class="aside-post">
                <div class="aside-img">
                    <img src="{{ blog.image.url }}" alt="{{ blog.heading }}" alt="" />
                </div>
                <div class="aside-content">
                    <div class="aside-content-top">
                        <h1>{{ blog.heading }}</h1>
                    </div>
                    <div class="aside-content-bottom">
                        <h3>{{ blog.authorname }}</h3>
                        <h4>{{ blog.Blog_Created_Date|date:"Y/m/d" }}</h4>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
  </div>
{% endblock %}
