{% extends 'base.html' %}

{% block body %}
  {% load static %}
  <section class="event-single-page">
    <div class="event-single-page-content">
      <h3>{{ rEvent.heading }}</h3>
      
      <!-- Debugging section: Show the count of photos -->
      <p>Number of photos: {{ photos|length }}</p>
      
      <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
        {% for photo in photos %}
          <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
        {% endfor %}
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          {% for photo in photos %}
          <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
            <img class="d-block w-100" src="{{ photo.images.url }}" alt="Slide {{ forloop.counter }}">
          </div>
          {% endfor %}
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
      </div>
      <p>{{ rEvent.caption|safe }}</p>
    </div>

    <div class="event-single-page-sidebar">
      <h4>Upcoming Events</h4>
      <div class="sb-ue-events">
        {% for x in pics|slice:'2' %}
          <a href="{{ x.booking_link }}" target="_blank">
            <img src="{{ x.image.url }}" alt="" />
            <h2>{{ x.heading }}</h2>
          </a>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
